{% extends 'customodds/base.html' %}
{% load static %}
{% block page_title %}Login{% endblock %}
{% block css_links %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'customodds/css/style.css' %}">
{% endblock %}

{% block body_attr %} class="img js-fullheight" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url({% static 'customodds/images/bg.jpg' %});" {% endblock %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Clef de Bras</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Login</h3>
                    <form action="{% url 'login' %}" method="POST" class="signin-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required name="username">
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password"
                                required name="password">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>
{% block scripts %}
<script src="{% static 'customodds/js/jquery.min.js' %}"></script>
<script src="{% static 'customodds/js/popper.js' %}"></script>
<script src="{% static 'customodds/js/bootstrap.min.js' %}"></script>
<script src="{% static 'customodds/js/main.js' %}"></script>
{% endblock %}
{% endblock %}